body {
    background-color: white;
    color: #333;
    font-family: 'Segoe UI';
    --background-color: #f9f9f9;
    --border-color: #ddd;
    --placeholder-color: #ddd;
    --caret-color: #333;
    --dark-background-color: #1c1c1c;
    --dark-color: #f9f9f9;
    --dark-border-color: #333;
    --dark-placeholder-color: #444;
    --dark-caret-color: #f9f9f9;
    --completed-background-color: #ddd;
    --completed-color: #555;
    --completed-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background-color);
        color: var(--dark-color);
        --background-color: var(--dark-background-color);
        --border-color: var(--dark-border-color);
        --placeholder-color: var(--dark-placeholder-color);
        --caret-color: var(--dark-caret-color);
        --completed-background-color: #333;
        --completed-color: #ddd;
        --completed-border-color: #444;
    }
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: left;
}
#taskList {
    width: 50%;
    text-align: left;
    text-justify: inter-word;
    word-wrap: break-word;
}

#taskList li {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    text-decoration: none;
    list-style-type: none;
}

#taskList li.completed {
    font-size: 1.5em;
    background-color: var(--completed-background-color);
    color: var(--completed-color);
    border-color: var(--completed-border-color);
    text-decoration: line-through;
}

#input-container {
    width: 50%;
    text-align: left;
}

#taskInput {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    letter-spacing: 0.05em;
    caret-color: var(--caret-color);
}

#taskInput:focus {
    caret-color: var(--caret-color);
}

#taskInput::placeholder {
    color: var(--placeholder-color);
}

h1{
    text-align: left;
    margin: 0%;
    border: solid 0;
    padding: 0%;
}

p{
    text-align: left;
    margin: 0%;
    border: solid 0;
    padding: 0%;
}